<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary">Crear producto</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Foto</th>
							<th>nombre</th>
							<th>Empresa</th>
							<th>Precio</th>
							<th>Stock</th>
							<th>email</th>
							<th>fecha</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto: ${productos}">
							<td><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${producto.id}" th:text="${producto.id}"></a></td>
							<td width="150" height="105" ><img th:if="${#strings.length(producto.foto) > 0}" class="img-thumbnail rounded float-left"
								 th:width="100" height="100" th:src="@{'/uploads/' + ${producto.foto}}"
								 th:alt="${producto.foto}" /></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.empresa}"></td>
							<td th:text="${producto.precio}"></td>
							<td th:text="${producto.stock}"></td>
							<td th:text="${producto.email}"></td>
							<td th:text="${producto.createAt}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/form/} + ${producto.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/eliminar/} + ${producto.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
		
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>